# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/Ymir.iml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/install_manifest.txt
cmake-build-debug/Ymir.cbp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/CheckLibraryExists/CheckFunctionExists.cxx
cmake-build-debug/Ymir/cmake_install.cmake
cmake-build-debug/Ymir/Makefile
cmake-build-debug/Ymir/YmirSettings.json
cmake-build-debug/Ymir/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Ymir/CMakeFiles/progress.marks
cmake-build-debug/Ymir/CMakeFiles/Ymir.dir/build.make
cmake-build-debug/Ymir/CMakeFiles/Ymir.dir/cmake_clean.cmake
cmake-build-debug/Ymir/CMakeFiles/Ymir.dir/CXX.includecache
cmake-build-debug/Ymir/CMakeFiles/Ymir.dir/depend.internal
cmake-build-debug/Ymir/CMakeFiles/Ymir.dir/depend.make
cmake-build-debug/Ymir/CMakeFiles/Ymir.dir/DependInfo.cmake
cmake-build-debug/Ymir/CMakeFiles/Ymir.dir/flags.make
cmake-build-debug/Ymir/CMakeFiles/Ymir.dir/link.txt
cmake-build-debug/Ymir/CMakeFiles/Ymir.dir/progress.make
cmake-build-debug/Ymir/Facilities/MainCamera.json
cmake-build-debug/Ymir/Networks/darknet.cfg
cmake-build-debug/Ymir/Networks/yolov4-obj_512_288.cfg
cmake-build-debug/Ymir/Networks/yolov4-obj_512_288.weights
cmake-build-debug/Ymir/Networks/yolov4-obj.cfg
cmake-build-debug/Ymir/Networks/yolov4-obj.weights
cmake-build-debug/Ymir/Networks/yolov4-tiny.cfg
cmake-build-debug/Ymir/Networks/yolov4-tiny.weights
cmake-build-debug/Ymir/Services/ArmorFinder.json
cmake-build-debug/Ymir/Services/CameraCalibrator.json
cmake-build-debug/Ymir/Services/Communicator.json
cmake-build-debug/Ymir/Services/ControlCenter.json
cmake-build-debug/Ymir/Services/DebugView.json
cmake-build-debug/Ymir/Services/MainCameraReader.json
cmake-build-debug/Ymir/Services/TimeCostWatcher.json
cmake-build-debug/Ymir/Services/UnitDetector.json
cmake-build-debug/Ymir/Services/UnitIdentifier.json
